.App{
  background-color: rgb(108, 122, 122);
  height: 100vh;
  display: flex;
  flex: auto;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  color:rgb(54, 52, 52);
}
.container {
  text-align: center;
  background-color: aliceblue;
  border-radius: 50px;
}
